<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxx.whiteboard.mapper.ImageMapper">

    <update id="updateSoftByNumId">
        UPDATE image
        SET
        <if test="image.roomId != null and image.roomId != ''"> room_id = ${image.roomId} </if>
        <if test="image.userId != null and image.userId != ''"> user_id = ${image.userId}</if>
        <if test="image.imageId != null and image.imageId != ''"> image_id = ${image.imageId} </if>
        <if test="image.currentPage != null and image.currentPage !=''">current_page = ${image.currentPage}</if>
        <if test="image.x != null and image.x != ''"> x=${image.x} </if>
        <if test="image.y != null and image.y != ''"> y=${image.y}</if>
        <if test="image.locked != null and image.locked !=''"> locked = ${image.locked}</if>
        <if test="image.operationId != null and image.operationId != ''">operation_id = ${image.operationId}</if>
        <if test="image.midX != null and image.midX !=''">mid_x = ${image.midX}</if>
        <if test="image.midY != null and image.midY !=''">mid_y = ${image.midY}</if>
        <if test="image.rotate != null and image.rotate!=''">rotate = ${image.rotate}</if>
        WHERE image_num = ${image.imageNum}
    </update>
    <!--如果新字段有值，就更新为新字段， 如果新字段没有值，就保留原字段-->
    <!--<update id="updateSoftByNumId">-->
    <!--    UPDATE image-->
    <!--    SET room_id=IF(COALESCE(${image.roomId}), room_id = room_id, room_id = ${image.roomId}),-->
    <!--        user_id=IF(COALESCE(${image.userId}), user_id = user_id, user_id = ${image.userId}),-->
    <!--        image_id=IF(COALESCE(${image.imageId}), image_id = image_id, image_id = ${image.imageId}),-->
    <!--        current_page=IF(COALESCE(${image.currentPage}), current_page = current_page, current_page = ${image.currentPage}),-->
    <!--        x = IF(COALESCE(${image.x}), x = x, x=${image.x}),-->
    <!--        y = IF(COALESCE(${image.y}), x = x, y=${image.y}),-->
    <!--        locked = IF(COALESCE(${image.locked}), locked = locked, locked=${image.locked}),-->
    <!--        operation_id = IF(COALESCE(${image.operationId}), operation_id = operation_id, operation_id=${image.operationId}),-->
    <!--        rotate = IF(COALESCE(${image.rotate}), rotate = rotate, rotate=${image.rotate})-->
    <!--        WHERE image_num = ${image.imageNum};-->
    <!--</update>-->



    <!--<update id="updateSoftByNumId">-->
    <!--    UPDATE image-->
    <!--    SET room_id=IF(${image.roomId} = ${""} ,room_id ,${image.roomId}),-->
    <!--        user_id=IF(${image.userId} = ${""} ,user_id ,${image.userId}),-->
    <!--        image_id=IF(COALESCE(${image.imageId}, 0) = 0, image_id, ${image.imageId}),-->
    <!--        current_page=IF(COALESCE(${image.currentPage}, 0) = 0, current_page, ${image.currentPage}),-->
    <!--        x = IF(COALESCE(${image.x}, 0) = 0, x, ${image.x}),-->
    <!--        y = IF(COALESCE(${image.y}, 0) = 0, y, ${image.y}),-->
    <!--        locked = IF(COALESCE(${image.locked}, 0) = 0, locked, ${image.locked}),-->
    <!--        operation_id = IF(COALESCE(${image.operationId}, 0) = 0, operation_id, ${image.operationId}),-->
    <!--        rotate = IF(COALESCE(${image.rotate}, 0) = 0, rotate, ${image.rotate})-->
    <!--    WHERE image_num = ${image.imageNum};-->
    <!--</update>-->
</mapper>