<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxx.whiteboard.mapper.PointMapper">

    <!-- 保存所有点 -->
    <insert id="savePoint">
        INSERT INTO
            `room${roomId}page${currentPage}`
        VALUES (${point.x}, ${point.y}, ${point.pointColor.r}, ${point.pointColor.g}, ${point.pointColor.b}, ${point.pointColor.a});
    </insert>

    <select id="getAllPoint" resultType="com.xxxx.whiteboard.pojo.Point">
        SELECT * FROM `room${roomId}page${currentPage}`
    </select>


</mapper>