<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxx.whiteboard.mapper.RoomMapper">

    <!-- 以roomId作表名，建立一个新房间的空表 -->
    <insert id="createRoom" parameterType="com.xxxx.whiteboard.pojo.Room">
        -- 如果这个表存在，就删掉
        CREATE TABLE
            `room${room.roomId}`
        (
            `room_id`    varchar(20) NOT NULL COMMENT '房间id',
            `room_state` int NULL COMMENT '房间状态',
            `authority`  int NULL COMMENT '房间模式-只读还是写作',
            PRIMARY KEY (`room_id`)
        );
    </insert>

    <insert id="insertRoom" parameterType="com.xxxx.whiteboard.pojo.Room">
        INSERT INTO
            `room`
        VALUES(${room.roomId}, ${room.roomState}, ${room.authority});
    </insert>
</mapper>