<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxxx.whiteboard.mapper.UserMapper">

    <!--// 把user的操作次数加一，返回user的新操作次数-->
    <!--int operationNumIncr(String userId);-->
    <select id="operationNumIncr">
        UPDATE user
        SET operation_num = operation_num + 1
        WHERE user_id = ${userId}
    </select>

</mapper>